<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Add Todo + PieChart</title>
  
  <link rel="stylesheet" href="./todo_files/todos.css">

	<style>
		
		<!--
		body {
		  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		  margin: auto;
		  position: relative;
		  width: 960px;
		}

		text {
		  font: 10px sans-serif;
		}
		-->
		
		form {
		  position: absolute;
		  right: 10px;
		  top: 10px;
		}

	</style>
</head>

<body>

	<form>
	  <label><input type="radio" name="dataset" value="apples" checked> Apples</label>
	  <label><input type="radio" name="dataset" value="oranges"> Oranges</label>
	</form>

	<div id="todoapp">

    <header>
      <h1>INTELLI - SENSE</h1>
      <input id="new-todo" type="text" placeholder="What needs to be done?">
    </header>

    <section  id="main" style="display: none;">
      
	  <!--
	  <input id="toggle-all" type="checkbox"> 
      <label for="toggle-all">Mark all as complete</label>
	  -->
      <ul id="todo-list"></ul>
    </section>

    <footer style="display: none;">
      <input id="input-clear-completed" type="button"> Clear Completed in An Input </input> 
	  <!-- <a id="clear-completed">Clear completed</a> -->
      <div id="todo-count"></div>
    </footer>

  </div>

  <div id="instructions">
    Proof of Concept for Intellisense Search
  </div>

  <div id="credits">
    Created by
    <br>
    <a href="http://jgn.me/">Jérôme Gravel-Niquet</a>.
    <br>Hacked by: <a href="http://addyosmani.github.com/sutt">SUT</a>.
  </div>

  <script src="./todo_files/json2.js"></script>
  <script src="./todo_files/jquery.js"></script>
  <script src="./todo_files/underscore.js"></script>
  <script src="./todo_files/backbone.js"></script>
  <script src="./todo_files/backbone.localStorage.js"></script>
  <script src="./todo_files/todos.js"></script>
  <!-- <script src="./todo_files/sut1.js"></script> -->
  <!--  <script src="./todo_files/sut2.js"></script> -->
  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- currentSearch%> </label>
      <!-- <a class="sut_play">Click here </a> -->
	  <a class="destroy"></a> 
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a  id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>



<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

	var width = 960,
		height = 500,
		radius = Math.min(width, height) / 2;

	var color = d3.scale.category20();

	var pie = d3.layout.pie()
		.value(function(d) { return d.apples; })
		.sort(null);

	var arc = d3.svg.arc()
		.innerRadius(radius - 100)
		.outerRadius(radius - 20);

	var svg = d3.select("body").append("svg")
		.attr("width", width)
		.attr("height", height)
	  .append("g")
		.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

	d3.tsv("data.tsv", type, function(error, data) {
	  var path = svg.datum(data).selectAll("path")
		  .data(pie)
		.enter().append("path")
		  .attr("fill", function(d, i) { return color(i); })
		  .attr("d", arc)
		  .each(function(d) { this._current = d; }); // store the initial angles

	  d3.selectAll("input")
		  .on("change", change);

	  var timeout = setTimeout(function() {
		d3.select("input[value=\"oranges\"]").property("checked", true).each(change);
	  }, 2000);

	  function change() {
		var value = this.value;
		clearTimeout(timeout);
		pie.value(function(d) { return d[value]; }); // change the value function
		path = path.data(pie); // compute the new angles
		path.transition().duration(750).attrTween("d", arcTween); // redraw the arcs
	  }
	});

	function type(d) {
	  d.apples = +d.apples;
	  d.oranges = +d.oranges;
	  return d;
	}

	// Store the displayed angles in _current.
	// Then, interpolate from _current to the new angles.
	// During the transition, _current is updated in-place by d3.interpolate.
	function arcTween(a) {
	  var i = d3.interpolate(this._current, a);
	  this._current = i(0);
	  return function(t) {
		return arc(i(t));
	  };
	}

</script>
</body>
</html>