<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>Add Todo + PieChart</title>
  
  <link rel="stylesheet" href="./todo_files/todos.css">
  <link rel="stylesheet" href="./pie_files/pie.css">
		
</head>

<body>

	<div id="todoapp">

    <header>
      <h1>INTELLI - SENSE</h1>
	  <div id="instructions">
		Proof of Concept for Intellisense Search
	  </div>
	  <input id="new-todo" type="text" placeholder="What needs to be done?">
    </header>

    <section  id="main" style="display: none;">
      <ul id="todo-list"></ul>
    </section>

    <footer style="display: none;">
      <input id="input-clear-completed" type="button"> Clear Completed in An Input </input> 
      <div id="todo-count"></div>
    </footer>

  </div>

  <div id="credits">
    <br>Hacked by: <a href="http://github.com/sutt">SUT</a>.
  </div>
	
  <form id="apples_form">
	  <label><input id="apples_input" type="radio" name="dataset" value="apples" checked> Apples</label>
	  <label><input id="apples_input" type="radio" name="dataset" value="oranges"> Oranges</label>
  </form>
  
  <svg id="donut" >
  </svg>
  
  <script src="./todo_files/json2.js"></script>
  <script src="./todo_files/jquery.js"></script>
  <script src="./todo_files/underscore.js"></script>
  <script src="./todo_files/backbone.js"></script>
  <script src="./todo_files/backbone.localStorage.js"></script>
  <script src="./todo_files/todos.js"></script>
  
  <!-- <script src="./todo_files/sut1.js"></script> -->
  <!--  <script src="./todo_files/sut2.js"></script> -->
  
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="./pie_files/pie.js"> </script>
  
  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- currentSearch%> </label>
      <!-- <a class="sut_play">Click here </a> -->
	  <a class="destroy"></a> 
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a  id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

	
</body>
</html>